[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
djangorestframework = "*"
"django-rest-swagger" = "*"
"django-rest-auth" = "*"
"django-webpack-loader" = "*"
"django-allauth" = "*"
"django-filter" = "*"
"django-debug-toolbar" = "*"
"bs4" = "*"
markdown = "*"


[dev-packages]

[requires]
python_version = "3.6"